.m-45px {
  margin: 45px;
}

.mr-20px {
  margin-right: 20px;
}

.p-0 {
  padding: 0;
}

.hide {
  display: none;
}

.show-edit-delete {
  display: none;
}

mat-row {
  transition: all 0.05s linear;
}

mat-row:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  transform: scale(1.003);
  .show-edit-delete {
    display: block;
  }
}
